@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'), url(https://fonts.gstatic.com/s/loveyalikeasister/v7/LzkxWS-af0Br2Sk_YgSJY9N6oT7VVZB_kATuDWj1CMI.woff2) format('woff2');
}

body {
  background: url("/pastebin/static/img/bg.png") repeat fixed 0% 0% transparent;
  font-size: 18px;
}

.spacer {
  padding: 5px;
}

#pastebar {
  margin-bottom: 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px;

  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;

  font-family: 'Love Ya Like A Sister', cursive;
}

#pastebar .navbar-brand {
  font-size: 200%;
}

#searchdiv {
  margin-top: 10px;
}

#searchbox {
  background-color:transparent;
  color:#FFF;
}

textarea#content {
  font-family: Courier New;
  height: 65vh;
}

.havejs {
  display: none;
}

.tehcontrols {
  display: none;
}

#spinner {
  display: none;
}

#eep {
  display: none;
}

#eepnokb {
  display: none;
  margin-bottom: 0px;
}

/* Sticky footer styles - http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
}

/* paste.html */
pre {
  border: 0px;
  white-space: pre-wrap;
  counter-reset: line-numbering 0;
}

pre .line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    display: inline-block;
    border-right: 1px solid #2e6ca2;
    margin-right: 5px;
    /* space after numbers */
    width: 2.6em;
    text-align: right;
    opacity: 0.5;
    user-select: none;
}

article iframe {
  border: 0px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  width: 100%;
  min-height: 70vh;
  background: #fff;
}

.grecaptcha-badge {
  margin-bottom: 40px;
}

.grecaptcha-text {
  display: none;
}

@media (max-width: 900px) {
  .grecaptcha-badge {
    display: none;
  }

  .grecaptcha-text {
    display: block;
  }
}
