[submodule "static/js/PACE"]
	path = static/js/PACE
	url = https://github.com/HubSpot/PACE
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/csrf"]
	path = vendor/github.com/gorilla/csrf
	url = https://github.com/gorilla/csrf
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/gorilla/sessions"]
	path = vendor/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions
