<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ block "meta" . }}
    <meta name="author" content="Ada Young">
    <meta name="description" content="Ada's pretty website!">
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{ block "title" . }}
        Hello, world!
      {{ end }}
      - ada-young.com
    </title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <link rel="stylesheet" href="//{{ .staticDomain }}/static/css/base.css">

    <script src="//{{ .staticDomain }}/static/js/PACE/pace.min.js"></script>
    <link href="//{{ .staticDomain }}/static/js/PACE/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
    {{ block "morehead" . }}
    {{ end }}
  </head>

  <body>
    <!--[if lt IE 10]>
      <p style="text-align: center;background: yellow">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/"><strong>upgrade your browser</strong></a> or <a href="http://www.google.com/chromeframe/?redirect=true"><strong>activate Google Chrome Frame</strong></a> to improve your experience.</p>
    <![endif]-->

    {{ block "btop" . }}
    <a href="#" class="back-to-top">Back to Top</a>
    {{ end }}

    {{ block "main" . }}
    <div class="container" style="padding: 60px 15px">
      <div style="text-align: center">
        <h1>Lookit the stuff here!</h1>
        <p class="lead">Oops, nothing to see here. Come back later then!</p>
      </div>
    </div><!-- /.container -->
    {{ end }}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ block "tail" . }}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script src="//{{ .staticDomain }}/static/js/base.js"></script>

    {{ end }}
    {{ block "moretail" . }}
    {{ end }}
  </body>
</html>
