{{ block "meta" . }}
  <meta name="author" content="Ada Young">
  <meta name="description" content="About Ada's HTML Pastebin!">
  <meta name="application-name" content="Ada's HTML Pastebin!">
{{ end }}

{{ block "title" . }}About{{ end }}

{{ block "evenmorehead" . }}
<style type="text/css">
body {
  background: #FFF;
}

#searchbox {
  color: #333;
}
</style>
{{ end }}

{{ block "content" . }}
<div class="row">
  <article id="content" style="background: #fff;padding: 15px;border-radius: 5px;padding-top: 5px" role="main">
    <div class="row">
      <div class="col-md-8">
        <h1>About</h1>
        <br>
        <p>Hi! This is a pastebin application just like pastebin.com except here you can paste colourful html content as well.</p>

        <p>I made this primarily to share logs from text games I play, mostly <a href="http://www.achaea.com/" target="_blank">Achaea</a>. I know there are a lot of other such solutions but... either</p>
        <ul>
          <li>they don't support pasting in html</li>
          <li>require you to <span class="text-danger">login</span> when they do</li>
          <li>or make you <span class="text-danger">upload a file</span></li>
          <li>... something else I found <span class="text-danger">annoying</span></li>
        </ul>

        <p>Here the focus is on <span class="text-success">simplicity and utility</span>. Auto-focus on the paste field with keyboard accelerators means <span class="text-success">mouse free operation</span>.</p>

        <p>No required fields means you can paste, hit ctrl-enter (or alt-enter if it's html) and you're done!</p>
      </div>
      <div class="col-md-4">
        <img alt="Tesha and Ada - drawn by Tibitha" class="img-responsive" src="/pastebin/static/img/vU1OJdC.jpg">
        <p class="text-center">
          <small><em>Lookie Ada and Tesha as drawn by Tibitha!</em></small>
        </p>
      </div>
    </div>

    <h2>Frequently Asked Questions</h2>
    <br>
    <h3>What is the Acceptable Use Policy?</h3>
    <p>This site is mostly meant for game logs but it can serve as a general purpose pastebin as well. For that, I'll just reiterate <a href="http://pastebin.com/faq#5" target="_blank">pastebin.com's policy</a> here.</p>
    <p class="text-danger">Please do NOT post:</p>
    <ul class="text-danger">
      <li>email lists</li>
      <li>login details</li>
      <li>stolen source code</li>
      <li>password lists</li>
      <li>personal information / data</li>
      <li>pornographic information / data</li>
      <li>spam links (this includes promoting your own site)</li>
    </ul>
    <br>

    <h3>When does stuff expire?</h3>
    <p>Pastes are deleted after 180 days have passed since they were last viewed. Google Drive hosted content is kept for as long as possible.</p>
    <br>

    <h3>What happens if I sign in?</h3>
    <p>Signing in allows you to manage your pastes. Specifically, it lets you delete your pastes regardless of the expiry schedule.</p>
    <br>

    <h3>I pasted in html but I'm seeing the html source?</h3>
    <p>You need to click on the 'Colourful HTML' button to flag your paste as html content before pasting.</p>
    <br>

    <h3>How do I make private pastes?</h3>
    <p>Just don't add any tags to your paste and it won't appear in the search results.</p>
    <br>

    <h3>What is the max paste size?</h3>
    <p>The maximum size a paste can be is 950 kilobytes (~1 megabyte). You can try to paste more too, but anything beyond that is compressed. The paste is rejected if it's still over 950 kilobytes after compression.</p>
    <br>

    <h3>How do I contact you?</h3>
    <p>Umm.. I'm <a href="https://www.achaea.com/user/2354/honors" target="_blank">Ada</a> on <a href="http://www.achaea.com/" target="_blank">Achaea</a>. I'm on <a href="https://github.com/adayoung" target="_blank">GitHub</a> too! I don't want to give out my email here, sorry!</p>
    <br>

    <hr><a id="PasteToGoogleDrive"></a>
    <h1>Paste to Google Drive!</h1>
    <br>
    <p>Hi again! It's possible to paste your things straight to your Google Drive now! Here's a rundown of how it works:</p>

    <p>
      <ol>
        <li>
          Paste/Write something in the big box!
        </li>
        <li>
          Select from Plain Text / Colourful HTML.
        </li>
        <li>
          Click on the <strong>Paste to Google Drive</strong> button!
        </li>
        <li>
          This will open a window asking for your consent, you need a Google Account to sign in.
        </li>
        <li>
          <div>The consent screen would have the following permissions scopes listed in there:</div>
          <ul>
            <li><img alt="Google Drive permissions" src="/pastebin/static/img/drive_rfp1.png"></li>
            <li><img alt="OAuth2 offline permission" src="/pastebin/static/img/drive_rfp2.png"></li>
          </ul>
          <div>These permissions grant the application access to files and folders it created <em>itself</em> only. Offline access is required to let us retrieve those files with an authorization token. You can read more about Google Drive API permissions <a href="https://developers.google.com/drive/v3/web/about-auth" title="About Authorization &nbsp;|&nbsp; Drive REST API &nbsp;|&nbsp; Google Developers">here</a> and offline access <a href="https://developers.google.com/identity/protocols/OAuth2WebServer#offline" title="Using OAuth 2.0 for Web Server Applications &nbsp;|&nbsp; Google Identity Platform &nbsp;|&nbsp; Google Developers">here</a>!</div>
        </li>
        <li>
          Once you have granted access, you should start seeing a folder called <strong>Pastebin!!</strong> in your Google Drive!
        </li>
        <li>
          From this point on, everything you paste should land in your Google Drive as long as you're signed in to the application. You can check in your <strong>Pastebin!!</strong> folder and even delete things you no longer want and they'll disappear from the application as well.
        </li>
        <li>
          You can disconnect your Google Drive any time by going to Settings &gt; Manage Apps or from your <a href="https://myaccount.google.com/intro/security#connectedapps">My Account page</a>.
          <ul>
            <li>
              Disconnecting will make <em>all</em> of your Google Drive hosted pastes unavailable on the application.
            </li>
            <li>
              Disconnecting does not remove content from you Google Drive unless you delete it yourself.
            </li>
          </ul>
        </li>
      </ol>
    </p>

    <h2>Frequently Asked Questions</h2>
    <br>

    <h3>Why should I connect my Google Drive at all?</h3>
    <p>
      I can think of TWO really good reasons!
      <ul>
        <li>
          One, you get to manage your content yourself. Lookit it, change it, download it, even delete it!
        </li>
        <li>
          Two! You use up your own storage quota and free up space available to the application!
        </li>
      </ul>
    </p>
    <br>

    <h3>Clicking on the <strong>Paste to Google Drive!</strong> button does nothing?</h3>
    <p>You need to have some content in the big box before attempting to paste.</p>
    <br>

    <h3>I disconnected my Google Drive and reconnected again, now I'm seeing TWO Pastebin!! folders?!</h3>
    <p>
      When an application connects to Google Drive, all the files it creates are marked as its property and made available to it. However, when you disconnect, all those files no longer carry that mark and are consequently no longer available to the application. When you reconnect, the application tries to look for its folder, can't find it (it's no longer its property, remember?) and proceeds to make a new folder. And that's how you have two Pastebin!! folders now!
    </p>
    <br>

    <h3>I deleted something from my Google Drive but it's still appearing in the application?!</h3>
    <p>
      Oops, it's probably still in the <a href="https://cloud.google.com/appengine/docs/go/memcache/" title="Memcache Overview">cache</a>! Give it a few hours and it'll poof from there as well on its own.
    </p>
    <br>

  </article>
</div>
{{ end }}

{{ block "footer" . }}
<span></span>
{{ end }}

{{ block "evenmoretail" . }}
<span></span>
{{ end }}
