{{ block "meta" . }}
<meta name="paste_id" content="{{ .paste_id }}">
{{ end }}

{{ block "title" . }}
  {{ if .paste.Title }}
    {{ .paste.Title }}
  {{ else }}
    {{ .paste_id }}
  {{ end }}
{{ end }}

{{ block "content" . }}
<div class="row">
  <form action="/pastebin/{{ .paste_id }}/delete" method="post">

    <span class="text-muted">
      {{ range .paste.Tags }}
        <em><a href="/pastebin/search/?tags={{ . }}">{{ . }}</a></em>
      {{ end }}
    </span>

    <span class="text-muted pull-right">
      <small>HITS - {{ .p_count }}</small>&nbsp;&nbsp;

      {{ if eq .paste.Format "html" }}
      <a href="/pastebin/{{ .paste_id }}/content" class="btn btn-default btn-xs" title="Fullscreen">
        <span class="glyphicon glyphicon-fullscreen"></span>
        <span class="sr-only">Fullscreen</span>
      </a>
      {{ end }}

      <a href="/pastebin/{{ .paste_id }}/download" class="btn btn-default btn-xs" title="Download">
        <span class="glyphicon glyphicon-save"></span>
        <span class="sr-only">Download</span>
      </a>

      {{ if .deleteBtn }}
        {{ .csrfField }}
        <input name="delete" type="hidden" value="yes">
        <button class="btn btn-default btn-xs" title="Delete" id="deletebtn" type="submit">
          <span class="glyphicon glyphicon-trash"></span>
          {{ .csrfField }}
        </button>
      {{ end }}

    </span>
  </form>
</div>
<div class="spacer"></div>
<div class="row">

  <h1 class="sr-only">
    {{ if .paste.Title }}
      {{ .paste.Title }}
    {{ else }}
      {{ .paste_id }}
    {{ end }}
  </h1>

  <article class="text-muted" role="main">

  {{ if eq .paste.Format "html" }}
    <iframe id="content"
      src="/pastebin/{{ .paste_id }}/content" sandbox="allow-same-origin"></iframe>
  {{ else }}
    <pre id="content">{{ .p_content }}</pre>
  {{ end }}

  </article>

</div>
{{ end }}
{{ block "footer" . }}
&nbsp;
{{ end }}
{{ block "evenmoretail" . }}
<script src="/pastebin/static/js/paste.js"></script>
{{ end }}
