{{ block "meta" . }}
<meta name="description" content="
{{ if .paste.Title }}
{{ .paste.Title }}
{{ else }}
{{ .paste_id }}
{{ end }}
">
<meta name="paste_id" content="{{ .paste_id }}">
{{ end }}

{{ block "title" . }}
{{ if .paste.Title }}
{{ .paste.Title }}
{{ else }}
{{ .paste_id }}
{{ end }}
{{ end }}

{{ block "content" . }}
<div class="row mb-3">
    <div class="col">
        <form class="d-flex align-items-center" id="deleteform" action="/pastebin/{{ .paste_id }}/delete" method="post">
            <span>
                {{ range .paste.Tags }}
                <em><a class="text-decoration-none" href="/pastebin/search/?tags={{ . }}">{{ . }}</a></em>
                {{ end }}
            </span>
            <span class="d-none d-md-block text-muted ms-auto">
                <small class="me-2">VIEWS - {{ .p_count }}</small>
                <input name="format" type="hidden" value="{{ .paste.Format }}">

                <button class="d-none btn btn-outline-secondary btn-sm" id="share-btn" title="Share">
                    <span class="bi bi-share"></span>
                    <span class="visually-hidden">Share</span>
                </button>

                <a class="btn btn-outline-secondary btn-sm"
                    href="https://twitter.com/intent/tweet?text=Check%20out%20my%20adventure%21&url={{ .fullPath }}"
                    title="Tweet!" target="_blank" rel="noopener">
                    <span class="bi bi-twitter"></span>
                    <span class="visually-hidden">Tweet!</span>
                </a>

                <a href="
                    {{ if .paste.GDriveDL }}
                        {{ .paste.GDriveDL }}
                    {{ else }}
                        /pastebinc/{{ .paste_id }}/download
                    {{ end }}
                    " class="btn btn-outline-secondary btn-sm" title="Download">
                    <span class="bi bi-download"></span>
                    <span class="visually-hidden">Download</span>
                </a>

                {{ if .deleteBtn }}
                {{ .csrfField }}
                <button class="btn btn-outline-secondary btn-sm" id="delete-btn" title="Delete" type="submit">
                    <span class="bi bi-trash3"></span>
                    <span class="visually-hidden">Delete</span>
                </button>
                {{ end }}

                {{ if .driveHosted }}
                <a href="/pastebin/about#PasteToGoogleDrive" class="btn btn-outline-secondary btn-sm"
                    title="Google Drive Hosted Content!" target="_blank">
                    <img src="//{{ .staticDomain }}/pastebin/static/img/drive.png"
                        height="16" width="16" alt="Google Drive!" loading="lazy">
                    <span id="driveHosted" class="visually-hidden">Google Drive Hosted Content!</span>
                </a>
                {{ end }}
            </span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="visually-hidden">
            {{ if .paste.Title }}
            {{ .paste.Title }}
            {{ else }}
            {{ .paste_id }}
            {{ end }}
        </h1>
        <article id="content" role="main">
            <noscript>
                {{ if .driveHosted }}
                <p class="text-light">Oops, we need Javascript to load this content. Alternatively, you may click <a class="text-decoration-none" href="{{ .paste.GDriveDL }}">here</a> to download it.</p>
                {{ else }}
                <iframe src="/pastebinc/{{ .paste_id }}/content" sandbox title="content-frame"></iframe>
                {{ end }}
            </noscript>
            <iframe class="d-none" id="content-frame" src="about:blank" sandbox="allow-same-origin" title="content-html"></iframe>
            <pre class="d-none text-light" id="content-text" title="content-text"></pre>
        </article>
        <div class="d-none text-light" id="loader">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading content, please wait ... <span id="loader-result"></span>
        </div>
    </div>
</div>
{{ if not .driveHosted }}
<div class="row">
    <div class="col">
        <p class="text-muted">
            <small>
                <em>
                    This paste will expire on <a class="text-decoration-none" href="/pastebin/about#WhenDoesStuffExpire">
                    {{ .sixMonthsAway }}</a>. Paste to <a class="text-decoration-none" href="/pastebin/about#PasteToGoogleDrive">
                    Google Drive</a> if you'd rather not have it expire!
                </em>
            </small>
        </p>
    </div>
</div>
{{ end }}
{{ end }}

{{ block "moretail" . }}
<input type="hidden" id="pasteID" value="{{ .paste_id }}">
<input type="hidden" id="format" value="{{ .paste.Format }}">
<script src="//{{ .staticDomain }}/pastebin/static/js/20220310/paste.js"></script>
{{ end }}
