{{ block "meta" . }}
  <meta name="author" content="Ada Young">
  <meta name="description" content="Ada's HTML Pastebin">
  <meta name="application-name" content="Ada's HTML Pastebin">
  <meta name="keywords" content="HTML,CSS,XML,Pastebin,simple,safe,private">
{{ end }}

{{ block "morehead" . }}
  <link href="//{{ .staticDomain }}/pastebin/static/css/20191006/pastebin.css" rel="stylesheet">
  {{ block "evenmorehead" . }}
  {{ end }}
{{ end }}

{{ block "title" . }}Ada's HTML Pastebin{{ end }}

{{ block "main" . }}
  <div id="wrap">
    <div class="navbar navbar-default" id="pastebar" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Expand/Collapse Navigation</span>
        </button>
        <a class="navbar-brand" href="/">Pastebin!!</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/pastebin/about">About</a></li>
          <li><a href="https://github.com/adayoung/gae-pastebin/" target="_blank" rel="noopener">GitHub!</a></li>
          <!--
          <li><a href="/pastebin/api/v1/">API</a></li>
          {{ if .user }}
            <li><a href="/pastebin/auth/logout">Sign out ({{ .user.Email }})</a></li>
          {{ else }}
            <li><a href="/pastebin/auth/login">Sign in</a></li>
          {{ end }}
          -->
        </ul>
        <div class="col-md-3 navbar-nav navbar-right">
          <div id="searchdiv">
            <form action="/pastebin/search" method="get" role="search">
              <label class="sr-only" for="searchbox">Search Tags</label>
              <input
                class="form-control tagbox"
                id="searchbox"
                name="tags"
                placeholder="Search Tags"
                type="search"
              >
            </form>
          </div>
        </div>
      </div><!--/.nav-collapse -->
    </div>
    <noscript>
      <p class="text-danger text-center">Oops, you have Javascript disabled. Some features are unavailable.</p>
    </noscript>
    <div class="container">
      {{ block "brandlogos" . }}
      <div class="row hidden-xs">
        <div class="col-md-12 img-bar">
          <a href="https://www.achaea.com/" target="_blank" rel="noopener">
            <img src="//{{ .staticDomain }}/pastebin/static/img/achaea.webp" alt="Play Achaea!">
          </a>
          <a href="https://www.lusternia.com/" target="_blank" rel="noopener">
            <img src="//{{ .staticDomain }}/pastebin/static/img/lusternia.webp" alt="Play Lusternia!">
          </a>
          <a href="https://www.starmourn.com/" target="_blank" rel="noopener">
            <img src="//{{ .staticDomain }}/pastebin/static/img/starmourn.webp" alt="Play Starmourn!">
          </a>
          <div class="pull-right">
            <a href="https://www.mudlet.org/" target="_blank" rel="noopener">
              <img src="//{{ .staticDomain }}/pastebin/static/img/mudlet.webp" alt="Play a MUD on Mudlet!">
            </a>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      {{ end }}
      {{ block "content" . }}
      <div class="not-a-row">
        <h1 class="sr-only">Welcome to Ada's HTML Pastebin!</h1>
        <div id="eepnokb" class="alert alert-danger" role="alert">Oops, umm ... the keyboard accelerators don't work well with opening popup windows yet. You'll need to click on the Paste it! below. Sorry!</div>
        <form  enctype="multipart/form-data" method="post">
          <fieldset>
          <legend class="sr-only">Pastebin</legend>
          <div class="row">
            <div class="col-md-12">
              <label class="sr-only" for="content">Content</label>
              <textarea class="form-control" id="content" name="content" autocomplete="off" required spellcheck="false"></textarea>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="row">
            <div class="col-md-6">
              <label class="sr-only" for="title">Title</label>
              <input class="form-control noenter" id="title" maxlength="50" name="title" placeholder="Name / Title" type="text">
            </div>
            <div class="spacer visible-sm visible-xs"></div>
            <div class="col-md-6">
              <label class="sr-only" for="tags">Tags</label>
              <input class="form-control tagbox noenter" id="tags" maxlength="250" name="tags" placeholder="Tags" type="text">
            </div>
          </div>
          <div class="spacer"></div>
          <div class="row">
            <div class="col-md-12">
              <label class="radio-inline text-muted nojs" for="plain_nojs">
                <input checked="" id="plain_nojs" name="format" type="radio" value="plain"> Plain text
              </label>
              <label class="radio-inline text-muted nojs" for="html_nojs">
                <input id="html_nojs" name="format" type="radio" value="html"> Colourful HTML
              </label>

              <div class="tehcontrols">

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary" for="plain" id="label_plain">
                    <input id="plain" name="format" type="radio" value="plain"> Plain Text
                  </label>
                  <label class="btn btn-primary" for="html" id="label_html">
                    <input id="html" name="format" type="radio" value="html"> Colourful HTML
                  </label>
                </div>

                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default" for="datastore" id="label_datastore" title="Paste to App Engine Datastore!">
                    <input disabled
                    {{ if eq .dest "datastore" }}
                      checked=""
                    {{ end }}
                    id="datastore" name="destination" type="radio" value="datastore">
                    <img src="//{{ .staticDomain }}/pastebin/static/img/datastore-symbol.png" alt="Paste to App Engine Datastore!" style="height:16px">
                  </label>
                  <label class="btn btn-default" for="gdrive" id="label_gdrive" title="Paste to Google Drive!">
                    <input disabled
                    {{ if eq .dest "gdrive" }}
                      checked=""
                    {{ end }}
                    id="gdrive" name="destination" type="radio" value="gdrive">
                    <img src="//{{ .staticDomain }}/pastebin/static/img/drive.png" alt="Paste to Google Drive!">
                  </label>
                  <a class="btn btn-default" href="/pastebin/about#PasteToGoogleDrive" id="about_btn" data-title="About" target="_blank"><i class="glyphicon glyphicon-question-sign"></i><span class="sr-only">About</span></a>
                </div>

              </div>
              {{ .csrfField }}
              &nbsp;
              <button class="btn btn-primary" data-title="Ctrl-Enter to paste in plain, Alt-Enter to paste in HTML!" id="paste_btn" type="submit">Paste it!</button>
              <img alt="pretty spinner" id="spinner" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="24" width="24" data-src="//{{ .staticDomain }}/pastebin/static/img/spinner.gif">
              <em><span class="pull-right text-muted havejs" id="noc_wrap"><span id="noc">0</span> characters.</span> <span class="help-block grecaptcha-text">Protected by reCAPTCHA. <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank" rel="noopener">Privacy</a>. <a href="https://www.google.com/intl/en/policies/terms/" target="_blank" rel="noopener">Terms</a>.</span></em>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="text-danger" id="eep">
                <strong>Eep! Paste is too long!</strong>
                <em>Will attempt compression!</em>
              </span>
            </div>
          </div>
          </fieldset>
        </form>
      </div>
      {{ end }}
    </div>
  </div>

  <div id="footer">
    {{ block "footer" . }}
    <!--
    <div class="pull-right">
      <a href="https://cloud.google.com/products/app-engine/" target="_blank" rel="noopener">
        <img alt="Powered by Google App Engine" id="appengine" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="30" width="120" data-src="//{{ .staticDomain }}/static/img/appengine-noborder-120x30.gif">
      </a>
    </div>
    -->
    {{ end }}
  </div>
{{ end }}

{{ block "moretail" . }}
  <script src="//{{ .staticDomain }}/pastebin/static/js/common.js"></script>
  <input type="hidden" name="rkey" value="{{ .rkey }}">
  <script src="https://www.google.com/recaptcha/api.js?render={{ .rkey }}"></script>
  {{ block "evenmoretail" . }}
    <script src="//{{ .staticDomain }}/pastebin/static/js/20190206/pastebin.js"></script>
  {{ end }}
{{ end }}
