{{ block "meta" . }}
<meta name="paste_id" content="{{ .paste_id }}">
{{ end }}

{{ block "title" . }}
  {{ if .paste.Title }}
    {{ .paste.Title }}
  {{ else }}
    {{ .paste_id }}
  {{ end }}
{{ end }}

{{ block "content" . }}
<div class="row">
  <form action="/pastebin/{{ .paste_id }}/delete" method="post">

    <span class="text-muted">
      {{ range .paste.Tags }}
        <em><a href="/pastebin/search/?tags={{ . }}">{{ . }}</a></em>
      {{ end }}
    </span>

    <span class="text-muted pull-right">
      <!-- <small>HITS - {{ .p_count }}</small>&nbsp;&nbsp; -->

      <input name="format" type="hidden" value="{{ .paste.Format }}">

      <a href="
        {{ if .paste.GDriveDL }}
          {{ .paste.GDriveDL }}
        {{ else }}
          /pastebin/{{ .paste_id }}/download
        {{ end }}
      " class="btn btn-default btn-xs" title="Download">
        <span class="glyphicon glyphicon-save"></span>
        <span class="sr-only">Download</span>
      </a>

      {{ if .deleteBtn }}
        {{ .csrfField }}
        <button class="btn btn-default btn-xs" title="Delete" id="deletebtn" type="submit">
          <span class="glyphicon glyphicon-trash"></span>
          {{ .csrfField }}
        </button>
      {{ end }}

      {{ if .driveHosted }}
      <a href="/pastebin/about#PasteToGoogleDrive" class="btn btn-default btn-xs" title="Google Drive Hosted Content!" target="_blank">
        <img src="//{{ .staticDomain }}/pastebin/static/img/drive.png" alt="Google Drive!">
        <span id="driveHosted" class="sr-only">Google Drive Hosted Content!</span>
      </a>
      {{ end }}

    </span>
  </form>
</div>
<div class="spacer"></div>
<div class="row">

  <h1 class="sr-only">
    {{ if .paste.Title }}
      {{ .paste.Title }}
    {{ else }}
      {{ .paste_id }}
    {{ end }}
  </h1>

  <article class="text-muted" role="main">

  {{ if eq .paste.Format "html" }}
  <noscript>
    <iframe id="content" src="//{{ .staticDomain }}/pastebin/{{ .paste_id }}/content" sandbox="allow-same-origin"></iframe>
  </noscript>
  {{ else }}
    <pre id="content">{{ .p_content }}</pre>
  {{ end }}

  </article>

</div>
  {{ if not .driveHosted }}
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">
        <small><em>This paste will expire on <a href="/pastebin/about#WhenDoesStuffExpire">{{ .sixMonthsAway }}</a>. Paste to <a href="/pastebin/about#PasteToGoogleDrive">Google Drive</a> if you'd rather not have it expire!</em></small>
      </p>
    </div>
  </div>
  {{ end }}
{{ end }}
{{ block "footer" . }}
&nbsp;
{{ end }}
{{ block "evenmoretail" . }}
<script src="//{{ .staticDomain }}/pastebin/static/js/20190207/paste.js"></script>
{{ end }}
