{{ block "brandlogos" . }}
&nbsp;
{{ end }}

{{ block "content" . }}
<div>
  <div class="row">
    <div class="spacer"></div>
    <div class="col">
      <table class="d-none table text-light" id="results">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <th>Title</th>
            <th>Posted</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody id="results-body">
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <noscript>
      <div class="col text-center text-light">
        <h1>Oops, this page requires Javascript enabled to work properly! Sorry!</h1>
      </div>
    </noscript>
    <div class="col">
      <div class="d-grid mb-3">
        <a class="d-none btn btn-secondary" data-cursor="" href="#" id="loadmore">Load more results</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ block "footer" . }}
<span></span>
{{ end }}

{{ block "moretail" . }}
<script src="//{{ .staticDomain }}/pastebin/static/js/20220325/search.js"></script>
{{ end }}
